<div class="row">
    <div class="col-md-5">
        <!--
            remove this
            <app-recipe-list
            (recipeWasSelected)="selectedRecipe = $event"
        ></app-recipe-list> -->

        <!-- after implement recipe service -->
        <app-recipe-list></app-recipe-list>
    </div>

    <div class="col-md-7">
        <!-- <div>
            div html ini akan digunakan untuk isi dari recipe nya karena di taruh router-outlet jadi ketika list akan di sini edit show dan lain2
        </div> -->
        <!-- remove after implement routes -->
        <!-- <app-recipe-detail
            *ngIf="selectedRecipe; else infoText"
            [recipe]="selectedRecipe"
        ></app-recipe-detail>
        <ng-template #infoText>
            <p>Please select a Recipe!</p>
        </ng-template> -->

        <router-outlet></router-outlet>
    </div>
</div>